<div id="deck_display">
<h1><%=@user.username %>!</h1>
<%if logged_in? && @user.rounds != []%>
<p>Rounds and Stats</p>
<ul>
  <% @rounds.each do |round|%>
    <div><strong><%= round.deck.subject %></strong></div>
      <li>Total Questions: <%= round.deck.cards.length %></li>
      <li>Total Guesses: <%= round.guesses.length %></li>
  <% end %>
</ul>
<% else %>
Stats will be shown here once you play through a deck!
<% end %>

<%if logged_in? && !guest_user && @user.decks != []%>

  <p>Decks <%=@user.username %> created:</p>
  <% @decks.each do |deck|%>
    <div><strong><%= deck.subject %></strong></a></div>
    <%if logged_in? && !guest_user && deck_creator? %>
      <div><a href="/decks/<%= deck.id %>">Edit</a></div>
      <div><form method="post" action="/decks/<%= deck.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form></div>
    <% end %>
  <% end %>
<% end %>
</div>
