<h1>Welcome,<%=@user.username %>!</h1>
<p>Decks you've created:</p>
<ul><% @user.rounds.each do |round|%>
      <% rounds.decks.each do |deck|%>
        <li><%= deck.subject %></li>
        <!-- create instance variable from helper method that calculates number of guesses and number of currect guesses during first round -->
</ul>
  <% end %>
<% end %>
<p>Decks you've created:</p>
<ul><% @user.decks.each do |deck|%>
<li><strong><%= deck.subject %></strong></li>
</ul>
<%if logged_in? && deck_creator %>
<ul>
  <li> <a href="/decks/<%= deck.id %>/edit">edit</a></li>
  <li><form method="post" action="/decks/<%= deck.id %>" class="inline">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form></li>
</ul>
  <% end %>
<% end %>
