<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li><br>
  <% end %>
  </ul>
<%  end %>
  <ul>
    <%if logged_in?%>
      <% @decks.each do |deck| %>
      <li><a href="/rounds/start/<%= deck.id %>"><%=deck.subject%></a>: <%=deck.cards.length%> questions</li>
        <li>Created <%=deck.created_at%></li>
        <% end %>
    <% else %>
    <a href="/users/new">Register</a><br>
    <a href="/sessions/new">Login</a><br>
    <a href="/sessions/new/guest">Play as Guest</a><br>
    <% @decks.each do |deck| %>
      <li><%=deck.subject%></a>: <%=deck.cards.length%> cards</li>
        <li>Created <%=deck.created_at%></li>
        <% end %>
    <% end %>
  </ul>
